<br>
<!-- <hr>
<br>
<div class="content has-text-centered">
    <p>
        {{ range $index, $key := .Site.Params.Social }}
        <span class="icon is-medium">
            <a href="{{ $key.url }}" rel="me"><i class="fab fa-{{ $key.icon }} fa-2x"></i>
            </a></span>&nbsp;&nbsp;&nbsp;
        {{ end }}
        <br><br>
        Copyright &copy; {{ .Site.Title }} {{ now.Format "2006"}} - Theme by <a
            href="https://jeffprod.com">JeffProd.com</a>
        - <a href="{{ "about" | absURL }}">About</a>
    </p>
</div> -->
